/*fuentes utilizadas*/

@font-face {
    font-family: 'Stara';
    src: url(../fonts/Stara-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stara';
    src: url(../fonts/Stara-Black.ttf);
    font-weight: bold;
    font-style: bold;
}