/*variables de los colores utilizados*/

$color-primary: #333831;
$color-primary01: #B0D3A5;
$color-secondary: #ECE5D1;
$color-secondary01: #F4F4F5;
$color-secondary02: #E4F0CD;
$color-secondary03: #4B4C9B;